#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
body {
  height: 100%;
}

.text-bubble {
  background-color: grey !important;
  width: 100%;
  height: 100px;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}